#!/usr/bin/env bash
/bin/echo "Hello World." >> /tmp/sdksdfjsdlf
/bin/echo export validator="false" >> /etc/profile.d/load_env.sh
/bin/echo export all_nodes=IIIall_nodesIII >> /etc/profile.d/load_env.sh
/bin/echo export db_name="core2" >> /etc/profile.d/load_env.sh
/bin/echo export db_user="stellar" >> /etc/profile.d/load_env.sh
/bin/echo export db_password="G17WAqXN7nH0xXWs" >> /etc/profile.d/load_env.sh
/bin/echo export network_pass="Kin test ; Jul 2019" >> /etc/profile.d/load_env.sh
/bin/echo export domain=".test.kin" >> /etc/profile.d/load_env.sh
/bin/echo export self_node_name=IIIself_node_nameIII >> /etc/profile.d/load_env.sh
/bin/echo export self_node_seed=IIIself_node_seedIII >> /etc/profile.d/load_env.sh
