#!/usr/bin/env bash
export validator="false"
export all_nodes=
export db_name="core"
export db_user="stellar"
export db_password="G17WAqXN7nH0xXWs"
export network_pass="Kin test ; Jul 2019"
export domain=".test.kin"
export self_node_name=
export self_node_seed=
